node-red-flows/brightness.json
[
    {
        "id": "b825d9e8e9933a31",
        "type": "api-call-service",
        "z": "08d1d1834fd2d49b",
        "name": "Turn on light-group",
        "server": "d2bae819.9842d8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c63635e20d6abc94",
        "type": "inject",
        "z": "08d1d1834fd2d49b",
        "name": "Debugging - Turn on light-group",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "b825d9e8e9933a31"
            ]
        ]
    },
    {
        "id": "29cea04eb3a715a5",
        "type": "switch",
        "z": "08d1d1834fd2d49b",
        "name": "Power On/Off Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "b825d9e8e9933a31"
            ],
            [
                "f7bd5521eef4e29a"
            ]
        ]
    },
    {
        "id": "807d54c92ad8ee55",
        "type": "mqtt in",
        "z": "08d1d1834fd2d49b",
        "name": "{{base_topic}}/power",
        "topic": "replace_this_with_base_topic/power",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2c8643dac3ebc02a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "29cea04eb3a715a5"
            ]
        ]
    },
    {
        "id": "f7bd5521eef4e29a",
        "type": "api-call-service",
        "z": "08d1d1834fd2d49b",
        "name": "Turn off light-group",
        "server": "d2bae819.9842d8",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bc8bb78e9d6ebb6f",
        "type": "inject",
        "z": "08d1d1834fd2d49b",
        "name": "Debugging - Turn off light-group",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "f7bd5521eef4e29a"
            ]
        ]
    },
    {
        "id": "d2bae819.9842d8",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "2c8643dac3ebc02a",
        "type": "mqtt-broker",
        "name": "Home Assistant",
        "broker": "replace_with_mqtt_broker_ip_address",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]